<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>

<div class="center hero-unit">
	<h1>Product Nokogiri Test</h1>
	
	<h2>
		Press the below button to test the parsing script
	</h2>
	
	<%= link_to "Refresh Products", refresh_data_products_path, class: "btn btn-large btn-primary", confirm: "Warning! This process will delete all existing products and replace them with the latest provider data. It cannot be reversed. Are you sure you want to continue?", method: :post %>
			
			
</div>